@page "/aboutus"

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="assets/img/Home/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3>Welcome to PakWear.</h3>
                <p class="fst-italic">
                    Where Style meets Quality.
                </p>
                <ul>
                    
                    <li><i class="ri-check-double-line"></i> At PakWear, we're more than just a clothing brand; we're a passionate team of fashion enthusiasts dedicated to bringing you the latest trends and timeless classics in the world of apparel.
                        Our journey began in [Year of Establishment], and since then, we've been committed to creating high-quality, stylish clothing that reflects our values and caters to your fashion needs.</li>
                    <h3>Our Story</h3>
                        <li><i class="ri-check-double-line"></i> PakWear was founded by Aftab with a vision to redefine fashion.
                        Inspired by [inspiration or personal story], our brand started as a small project and has grown into a global fashion sensation. Our story is a testament to our dedication, creativity, and unwavering commitment to offering clothing that makes you feel confident and stylish.</li>
                    <h3>Our Mission</h3>
                    <li><i class="ri-check-double-line"></i> At [Your Brand Name], our mission is simple: to provide you with fashion that not only makes you look good but also makes you feel good. We're driven by the values of [mention your core values, e.g., sustainability, quality, inclusivity],
                        and we work tirelessly to ensure that our products embody these principles..</li>
                </ul>
                <p>
               
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->