@page "/home"

<section id="hero" class="d-flex align-items-center justify-content-center">
  
    <div class="container" data-aos="fade-up">
        
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                
                <h1>Welcome to PakWear</h1>
            </div>
        </div>
      </div>

    
</section><!-- End Hero -->

<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            
            <p>Check our Products</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <img src="assets/img/Home/h1.jpg" />
                    <h4>Shirt</h4>
                    <p>Rs.3500</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <img src="assets/img/Home/h2.jpg" />
                    <h4>Suit</h4>
                     <p>Rs.12000/</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    
                    <img src="assets/img/Home/h6.jpg" />
                    <h4>Jacket</h4>
                    <p>Rs.4500/</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <img src="assets/img/Home/h4.jpg" />
                    <h4>Pent</h4>
                    <p>Rs.4000/</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <img src="assets/img/sale/s3.jpg" />
                    <h4>Shirt</h4>
                    <p>Rs.4000/</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <img src="assets/img/sale/s5.jpg" />
                    <h4>Suit</h4>
                    <p>Rs.15000/</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->