@page "/sale"

<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h1 class="text-danger">Sale</h1>
            
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="assets/img/sale/s1.jpg"  class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>Shirt</h4>
                        <span>Rs.3000</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="assets/img/sale/s2.jpg" class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>Suit</h4>
                        <span>9000</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="assets/img/sale/s3n.jpg" class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>Jacket</h4>
                        <span>Rs.4000</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="assets/img/sale/s4n.jpg" class="img-fluid" alt="">
                        
                    </div>
                    <div class="member-info">
                        <h4>T-Shirt</h4>
                        <span>Rs.2500</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->


<section id="team" class="team">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Coat</h4>
                        <span>Rs.4000</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Suit</h4>
                        <span>Rs.7000</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Suit</h4>
                        <span>Rs.8000</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">

                    </div>
                    <div class="member-info">
                        <h4>Shirt</h4>
                        <span>Rs.3000</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->